<div class="area">
    <nav class="main-menu">
        <ul>
            <li>
                <a [routerLink]="['/home_admin']">
                    <i class="fa fa-home fa-2x"></i>
                    <span class="nav-text">
                        HOME
                    </span>
                </a>
            
            </li>
            <li>
                <a [routerLink]="['/admin_fornecedor']">
                    <i class="fa fa-bar-chart-o fa-2x"></i>
                    <span class="nav-text">
                        FORNECEDORES
                    </span>
                </a>
            </li>
            <li>
                <a [routerLink]="['/admin_produto']">
                    <i class="fa fa-bar-chart-o fa-2x"></i>
                    <span class="nav-text">
                        PRODUTOS
                    </span>
                </a>
            </li>
            <li>
                <a [routerLink]="['/admin_marca']">
                    <i class="fa fa-bar-chart-o fa-2x"></i>
                    <span class="nav-text">
                        MARCAS
                    </span>
                </a>
            </li>
            <li>
                <a [routerLink]="['/admin_conta']">
                    <i class="fa fa-bar-chart-o fa-2x"></i>
                    <span class="nav-text">
                        CONTAS
                    </span>
                </a>
            </li>
            <li>
                <a [routerLink]="['/admin_vendas']">
                    <i class="fa fa-bar-chart-o fa-2x"></i>
                    <span class="nav-text">
                        VENDAS
                    </span>
                </a>
            </li>
        </ul>

        <ul class="logout">
            <li>
            <a href="#">
                    <i class="fa fa-power-off fa-2x"></i>
                    <span class="nav-text">
                        Logout
                    </span>
                </a>
            </li>  
        </ul>
    </nav>
</div>


<div style="margin-top: 55px;" class="row">
</div>

<div class="container-fluid table-responsive" style="padding: 0 5px 0 65px!important;">
  <table class="table table-hover table-dark">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">valor</th>
        <th scope="col">fornecedor</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let conta of contas">
        <th id="id_corte" scope="row">{{ conta?.id }}</th>
        <td id="id_corte">{{ conta?.valor }}</td>
        <td id="id_corte">{{ conta?.fornecedor?.nome }}</td>
        <td>
            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" (click)="detalhes(conta?.id, conta?.valor, conta?.fornecedor?.nome)" data-toggle="modal" data-target="#exampleModal3" class="btn btn-secondary">detalhes</button>
            </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
  <!-- /#page-content-wrapper -->


<!--MODALS-->

<!--detalhes-->
<div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Detalhes</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <label>ID</label>
          <input disabled="" type="text" value="{{modal_id}}" class="form-control">
          <br />
          <label>Valor</label>
          <input disabled="" type="number" value="{{modal_valor}}" class="form-control">
          <br />
          <label>Fornecedor</label>
          <input disabled="" type="text" value="{{modal_fornecedor}}" class="form-control">
          <br />
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
</div>
