<div class="container-fluid" style="margin: 135px 0 !important;">
    <div class="card" style="margin: 0 15px;">
        <img class="card-img-top" src="" alt="Imagem de capa do card">
        <div class="card-body" style=" color: #000; text-align: center;">
            <h3 class="card-title" style="text-align: center; color: #000;">CONFIMAÇÃO</h3>
            <hr style="width: 100%;"/>
            <h4>Compra realizada com sucesso.<br /> <strong>VOLTE SEMPRE !!</strong></h4>

            <a [routerLink]="['/home']" class="btn btn-primary">HOME</a>
        </div>
    </div>
</div>