<div class="area">
    <nav class="main-menu">
        <ul>
            <li>
                <a [routerLink]="['/home_admin']">
                    <i class="fa fa-home fa-2x"></i>
                    <span class="nav-text">
                        HOME
                    </span>
                </a>
            
            </li>
            <li>
                <a [routerLink]="['/admin_fornecedor']">
                    <i class="fa fa-bar-chart-o fa-2x"></i>
                    <span class="nav-text">
                        FORNECEDORES
                    </span>
                </a>
            </li>
            <li>
                <a [routerLink]="['/admin_produto']">
                    <i class="fa fa-bar-chart-o fa-2x"></i>
                    <span class="nav-text">
                        PRODUTOS
                    </span>
                </a>
            </li>
            <li>
                <a [routerLink]="['/admin_marca']">
                    <i class="fa fa-bar-chart-o fa-2x"></i>
                    <span class="nav-text">
                        MARCAS
                    </span>
                </a>
            </li>
            <li>
                <a [routerLink]="['/admin_conta']">
                    <i class="fa fa-bar-chart-o fa-2x"></i>
                    <span class="nav-text">
                        CONTAS
                    </span>
                </a>
            </li>
            <li>
                <a [routerLink]="['/admin_vendas']">
                    <i class="fa fa-bar-chart-o fa-2x"></i>
                    <span class="nav-text">
                        VENDAS
                    </span>
                </a>
            </li>
        </ul>

        <ul class="logout">
            <li>
            <a href="#">
                    <i class="fa fa-power-off fa-2x"></i>
                    <span class="nav-text">
                        Logout
                    </span>
                </a>
            </li>  
        </ul>
    </nav>
</div>


<div style="margin-top: 55px;" class="row">
  <div class="col-6 col-sm-6 col-md-6 col-lg-6">
    <button data-toggle="modal" data-target="#exampleModal4" class="btn btn-secondary" style="float: right;margin-right: 18px;background-color: #EF8354;">adicionar</button>
  </div>
</div>

<div class="container-fluid table-responsive" style="padding: 0 5px 0 65px!important;">
  <table class="table table-hover table-dark">
    <thead>
      <tr>
        <th scope="col">id-cliente</th>
        <th scope="col">id-produto</th>
        <th scope="col">valor</th>
        <th scope="col">data</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let venda of vendas">
        <th id="id_corte" scope="row">{{venda?.id_cliente}}</th>
        <td id="id_corte">{{venda?.id_produto}}</td>
        <td id="id_corte">{{venda?.valor}}</td>
        <td id="id_corte">{{venda?.createdAt}}</td>
        <td>
            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" (click)="Adicionar(2, venda?.id, venda?.id_cliente, venda?.id_produto, venda?.valor)" data-toggle="modal" data-target="#exampleModal2" class="btn btn-secondary">del</button>
              <button type="button" (click)="Adicionar(3, venda?.id, venda?.id_cliente, venda?.id_produto, venda?.valor)" data-toggle="modal" data-target="#exampleModal3" class="btn btn-secondary">detalhes</button>
            </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
  <!-- /#page-content-wrapper -->


<!--MODALS-->

<!--adicionar-->
<div class="modal fade" id="exampleModal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Adicionar</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="profileForm" (ngSubmit)="onSubmit1()">

          <div class="form-group">
            <label>ID Cliente</label>
            <input formControlName="id_cliente" type="text" class="form-control">
            <br />
            <label>ID produto</label>
            <input formControlName="id_produto" type="text" class="form-control">
            <br />
            <label>valor</label>
            <input formControlName="valor" type="number" class="form-control">
          
          </div>

          <button type="button" class="btn btn-secondary botao" data-dismiss="modal">Fechar</button>
          <button type="submit" [disabled]="!profileForm.valid" name="button" class="btn btn-primary botao">Salvar</button>
        </form>
        <br />
      </div>
    </div>
  </div>
</div>
<!--detalhes-->
<div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Detalhes</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form [formGroup]="profileForm">
          <div class="modal-body">
            <label>ID</label>
            <input disabled="" type="text" value="{{modal_id_vendas}}" class="form-control">
            <br />
            <label>id_cliente</label>
            <input disabled="" type="text" value="{{modal_id_cliente}}" class="form-control">
            <label>id_produto</label>
            <input disabled="" type="text" value="{{modal_id_produto}}" class="form-control">
            <label>valor</label>
            <input disabled="" type="number" value="{{modal_valor}}" class="form-control">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          </div>
        </form>
      </div>
    </div>
</div>
